body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

.app-container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #a84309;
}

button {
    padding: 10px 15px;
    margin: 10px;
    background: #052c99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.quiz-container, .results-container, .form-container {
    margin-top: 20px;
}

.word {
    margin-bottom: 10px;
}

.incorrect {
    border: 2px solid red;
    background-color: #ffebeb;
}

.correction {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
